@tailwind utilities;
@import "tailwindcss";
@import "tailwindcss/preflight";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color:#000;
  color: #f8f8f2;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  text-decoration: inherit;
}
body {
  margin: 0
}
button{
  cursor: pointer;
}



